* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    font-size: 20px;
    height: 100hz;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 350px;
    padding: 30px;
    border-radius: 7px;
    background-color: black;
    color: white;
}

.screen{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 200%;
    margin-bottom: 15px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 50, 50);
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.grey{
    background-color: grey;
    color: gold;
}

.green{
    background-color: green;
    color: gold;
}